html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
}

.header {
  background: #15a8e1;
  padding: 16px;
  margin: 0 0 32px;
}

.title {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  color: white;
}

.movie-form {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 16px;
  }
}

.button-submit {
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid #15a8e1;
  background: #ffffff;
  border-radius: 3px;
  &:hover {
    background: #15a8e1;
    transition: 0.3s;
    color: white;
  }
}

.wrapper {
  max-width: 768px;
  padding: 0 16px 60px;
  margin: 0 auto;
}

.select-block {
  position: relative;
  overflow: hidden;
  margin: 5px 0 0;
  &:after {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #15a8e1;
  }
  &:hover {
    &:after {
      border-top: 7px solid white;
      transition: 0.3s;
    }
  }
}
.select {
  appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid #15a8e1;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:hover {
    background: #15a8e1;
    transition: 0.3s;
    color: white;
  }
}

.select-label {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.screen-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 32px 0 0;
}

.screen {
  max-width: 100%;
  &__description {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #15a8e1;
    display: block;
  }
  &__image {
    width: 100%;
  }
}

.seats-info {
  justify-content: center;
  display: flex;
  margin: 32px 0 0;
}
.seats-info-list {
  display: flex;
  &__item {
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    &:before {
      content: "";
      width: 13px;
      height: 16px;
      background: #15a8e1;
      border-radius: 3px;
      display: block;
      margin: 0 8px 0 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &.selected {
      &:before {
        background: #ffd600;
      }
    }
    &.disabled {
      &:before {
        background: #bdbcc5;
      }
    }
  }
}
.hall {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  max-width: 400px;
  margin: 32px auto;
  grid-gap: 12px;
}
.hall-item {
  display: flex;
  justify-content: center;
  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    clip: rect(0 0 0 0);
    overflow: hidden;
    &:checked {
      + .hall-item__seat {
        background: #ffd600;
      }
    }
    &:disabled {
      + .hall-item__seat {
        background: #bdbcc5;
        outline: none;
      }
    }
    &:focus {
      + .hall-item__seat {
        outline: #005fcc auto 1px;
      }
    }
  }
  &__seat {
    width: 26px;
    height: 32px;
    background: #15a8e1;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
  }
}
.summary-info {
  border: 3px solid #15a8e1;
  padding: 16px;
  border-radius: 3px;
  &__title {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    margin: 0 0 16px;
  }
}
.summary-list {
  &__item {
    margin: 0 0 8px;

    strong {
      font-weight: bold;
    }
  }
}

@media (max-width: 767px) {
  .movie-form {
    &__wrapper {
      grid-template-columns: 1fr;
      grid-gap: 16px 0;
    }
  }
  .hall {
    grid-gap: 8px;
    max-width: 328px;
  }
  .hall-item {
    &__seat {
      width: 100%;
    }
  }
}
